<h1>Nuestro Catálogo</h1>
<div class="prov">
  <h2 style=" display: inline;">Ananay</h2>
  <a href="https://www.facebook.com/AnanayBolivia/" target="blank"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/ananaybolivia/?hl=es-la" target="blank"><i class="fab fa-instagram-square"></i></a>
</div>
<carousel [width]="1000" [height]="600" [cellWidth]="300">
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t1.6435-9/88191402_1529185230564421_2088054984389165056_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=973b4a&_nc_ohc=-Aaa-zKcf_QAX85gG-U&_nc_ht=scontent.flpb2-1.fna&oh=e0b505c065eaec6d2c6c02283340a98c&oe=61B416A3"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Pulsera personalizable</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 25 Bs.</h6>
        <p class="card-text">Pulsera metálica en la cual puedes personalizar el mensaje que quieras dar a esa persona especial.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t1.6435-9/36904514_1045334365616179_4261755082699177984_n.png?_nc_cat=111&ccb=1-5&_nc_sid=973b4a&_nc_ohc=cci4elUqYYwAX8zyCT2&_nc_ht=scontent.flpb2-2.fna&oh=4c20041937a0d3d971addb8d0a6b357d&oe=61B73BC8"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Bufanda a cuadros</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 30 Bs.</h6>
        <p class="card-text">Lo más trendy para darle un toque original y vanguardista a tu look.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t1.6435-9/36188952_1029629123853370_8968082522265092096_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=973b4a&_nc_ohc=cVSAe1S-8d8AX-nYi75&_nc_ht=scontent.flpb2-2.fna&oh=ef545a4465c3b43ef73e93df301ab250&oe=61B4C921"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Juego de joyería</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 220 Bs.</h6>
        <p class="card-text">Aretes de alpaquitas + collar.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t31.18172-8/25351918_917674865048797_3032119656078577536_o.jpg?_nc_cat=103&ccb=1-5&_nc_sid=973b4a&_nc_ohc=3rODxXxDq9MAX-4tzuH&_nc_ht=scontent.flpb2-2.fna&oh=27818f791f0346aff30f0f7bddc69a5a&oe=61B4547C"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Juego de joyería</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 50 Bs.</h6>
        <p class="card-text">Tres pares de aretes.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t1.18169-9/15355845_713036275512658_5334055400274458914_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=973b4a&_nc_ohc=SETG9f2rNl8AX_jD6Fn&_nc_ht=scontent.flpb2-2.fna&oh=39c2911a2275de2d22361e231a6a5ce7&oe=61B60AD5"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Bufanda infinita</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 45 Bs.</h6>
        <p class="card-text">Bufanda infinita tejida.</p>
        
      </div>
    </div>
  </div>
</carousel>

<div class="prov">
  <h2 style=" display: inline;">NUDO</h2>
  <a href="https://www.facebook.com/nudo.libretas" target="blank"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/_nudo__/?hl=es-la" target="blank"><i class="fab fa-instagram-square"></i></a>
</div>
<carousel [width]="1000" [height]="700" [cellWidth]="300">
  <div class="carousel-cell">
    <div class="card" style="width: 18rem; height: 600px;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t39.30808-6/252435934_420512969522106_3802019430912220428_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=CMAzxF0eYj8AX_2PMzc&_nc_ht=scontent.flpb2-2.fna&oh=e47845846424aacf1de9c992c164dca0&oe=619550E8"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Libreta tapa dura</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 70 Bs.</h6>
        <p class="card-text">•Color: turquesa con elástico<br>•Tela<br>•13x15cm<br>•60 hojas crema con puntos guía 80gr</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem; height: 600px;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t39.30808-6/p600x600/252343628_418681869705216_4789023394768799465_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=lKYi2euzRSEAX9zsvb3&_nc_ht=scontent.flpb2-1.fna&oh=d6cfa585e5ac4bfb834cb9e210a4629e&oe=6194D271" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Libreta tapa dura</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 70 Bs.</h6>
        <p class="card-text">•Color: gris oscuro con elástico<br>•Tela<br>•13x15cm<br>•60 hojas crema con puntos guía80gr</p>
       
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem; height: 600px;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t39.30808-6/251042586_416342886605781_5951296422515879402_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=ohxcYVJSkOUAX9JivbD&_nc_ht=scontent.flpb2-1.fna&oh=aa58b5af2d716c4a96c9498c0bf30c5b&oe=619529BC"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Libreta tapa dura</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 75 Bs.</h6>
        <p class="card-text">•Color: amarillo con elástico<br>•Tela<br>•16x11cm<br>•60 hojas crema con puntos guía 80gr<br>•6 hojas artesanales Tamiz amarillas</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem; height: 600px;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t39.30808-6/249024753_413411506898919_5319538225955176251_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=HwZ7egrsQJsAX8gUc6p&_nc_ht=scontent.flpb2-2.fna&oh=eb0812b6e8113e057e3a66933a8d18db&oe=6195441A"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Libreta tapa dura</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 125 Bs.</h6>
        <p class="card-text">•Color: negro con elástico<br>•Tela<br>•22x16cm<br>•40 hojas cartulina negra 180gr<br>•4 hojas artesanales Tamiz color azul</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem; height: 600px;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t39.30808-6/241117447_378605220379548_4045267672049866298_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=3WZ4GYuEMrUAX8jKx4I&_nc_ht=scontent.flpb2-1.fna&oh=7c3e2a45e692ed9e11f78f7732f0cc25&oe=61963002"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Libreta tapa dura</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 85 Bs.</h6>
        <p class="card-text">•Color: naranja<br>•Cuero vegano eco<br>•16x16cm<br>•100 hojas crema 80gr</p>
       
      </div>
    </div>
  </div>
</carousel>

<div class="prov" style="width: 32%;">
  <h2 style=" display: inline;">Dejavu Mágico</h2>
  <a href="https://www.facebook.com/Dejavu-M%C3%A1gico-100710985579281/" target="blank"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/dejavumagico/" target="blank"><i class="fab fa-instagram-square"></i></a>
</div>
<carousel [width]="1000" [height]="600" [cellWidth]="300">
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t39.30808-6/233216942_130837555899957_6748337441479797504_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=973b4a&_nc_ohc=9U49-UDNmHcAX8sbLg6&_nc_ht=scontent.flpb2-1.fna&oh=15e983782dd53bfa32421a533d8a412b&oe=61948FD7"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Vela artesanal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 50 Bs.</h6>
        <p class="card-text">Vela artesanal compuesta por hierbas medicinales.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t39.30808-6/232907318_130837342566645_5206510992580241526_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=973b4a&_nc_ohc=vrp7Z9knf6MAX_Z5Ha5&_nc_ht=scontent.flpb2-2.fna&oh=2e573e28600c439513e7f5cfe60b3586&oe=61952C42"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Vela artesanal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 50 Bs.</h6>
        <p class="card-text">Vela artesanal con aroma a vainilla.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t39.30808-6/231391841_130837009233345_1570093645714735400_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=_Z7E6SXenYQAX_vqlIw&_nc_ht=scontent.flpb2-1.fna&oh=4a97eb872eb89b628408f0075bf24083&oe=6194F85A"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Vela artesanal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 50 Bs.</h6>
        <p class="card-text">Vela artesanal con aroma a lavanda.</p>
       
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-2.fna.fbcdn.net/v/t39.30808-6/215532175_121697010147345_5759128434965140032_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=973b4a&_nc_ohc=SiUbfhDZI44AX8axAsg&_nc_ht=scontent.flpb2-2.fna&oh=cae2fd0ee2dadb5d00aa33777709166c&oe=61948615"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Collar con cuarzo Rosa</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 25 Bs.</h6>
        <p class="card-text">El cuarzo rosa es la piedra del amor incondicional y la paz infinita.</p>
        
      </div>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card" style="width: 18rem;">
      <img src="https://scontent.flpb2-1.fna.fbcdn.net/v/t1.6435-9/206029530_120058800311166_5895004470374438356_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=fdDRgizPeJgAX98glAi&_nc_ht=scontent.flpb2-1.fna&oh=49f20315e307c9922f2d1114a814052a&oe=61B495C9"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Frangancia</h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: 20 Bs.</h6>
        <p class="card-text">Fragancia energizante con aroma a flores de durazno.</p>
        
      </div>
    </div>
  </div>
</carousel>


 
