<h1>Contactos</h1>
<div class="row align-items-start" style="width: 1500px;">
  <div class="col">
    <h3>Siguenos en nuestras redes Sociales:</h3>
    <section class="social">      
      <a><i class="fab fa-facebook"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-whatsapp"></i></a>
      <a><i class="fab fa-telegram"></i></a>
      <a><i class="fab fa-instagram"></i></a>
      <a><i class="fab fa-pinterest"></i></a>
    </section>
  
    <section class="map" style="margin-top: 20px;">
      <h3>Pasa por nuestra sucursal para cualquier consulta</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.596571745301!2d-68.07755708459126!3d-16.546452446309864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21ba9e5649a5%3A0xfb1c130b1008af12!2sCreatiBo!5e0!3m2!1ses-419!2sbo!4v1636753756446!5m2!1ses-419!2sbo" width="600" height="450" style="border:3; margin: auto;" allowfullscreen="" loading="lazy"></iframe>
    </section>
  </div>

  <div class="col">
    
  <section class="comment">
    <h3>Comentarios y sugerencias</h3>
    <h4>Dejanos tus opiniones para poder mejorar nuestros servicios</h4>
    
    <form class="was-validated">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo:</label>
            <input type="email" class="form-control is-invalid" id="exampleFormControlInput1"  placeholder="name@example.com" required/>
          </div>

        <div class="mb-3">
            <label for="validationServer03" class="form-label">Telf.</label>
            <input type="cell" class="form-control is-invalid" id="validationServer03" placeholder="123-456-78" required>
        </div>

        <div class="mb-3">
          <label for="validationTextarea" class="form-label">Comentario:</label>
          <textarea class="form-control is-invalid" id="validationTextarea" rows="3" required></textarea>
        </div>
      
        <div class="mb-3">
          <button class="btn" type="submit">Enviar</button>
        </div>
      </form>
  </section>
  </div>
 
</div>

<div style="margin-top: 30px;">
  <h3>¿Tienes un emprendimiento artesanal, pero no tienes un espacio en donde publicitar tus productos?</h3>
  <h2> Ahora puedes formar parte de BOLIVI </h2>
  <h3>Llena el siguiente formulario con informacion para tu negocio y nosotros nos contactaremos contigo</h3>  
  <section class="solicitud">
    <form class="was-validated ">
      <div class="row">
        <div class="col-sm-3">
          <label for="propetario" class="form-label">Nombre del propietario:</label>
          <input type="text" class="form-control is-invalid" id="propetario" required/>
        </div>

        <div class="col-sm-3">
          <label for="negocio" class="form-label">Nombre del Negocio:</label>
          <input type="text" class="form-control is-invalid" id="negocio" required/>
        </div>

        <div class="col-sm-3">
          <label for="mail_pro" class="form-label">Correo del propietario:</label>
          <input type="email" class="form-control is-invalid" id="mail_pro"  placeholder="name@example.com" required/>
        </div>

      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-2">
          <label for="cell_pro" class="form-label">Telf. del propietario:</label>
          <input type="cell" class="form-control is-invalid" id="cell_pro" placeholder="123-456-78" required>
        </div>

        <div class="col-sm-3">
          <label>Seleccione su tipo de producto:</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Productos naturistas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Artesanías</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Joyería</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Objetos decorativos</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Papelería</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Ropa</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1" style="color: black;">Otros</label>
          </div>
        </div>

      </div>

      <div class="col-sm-8">
        <label for="validationTextarea" class="form-label">Descripción del negocio:</label>
        <textarea class="form-control is-invalid" id="validationTextarea" rows="3" ></textarea>
      </div>
    
      <div class="mb-3" style="margin-top: 20px;">
        <button class="btn2" type="submit" >Enviar solicitud</button>
      </div>
    </form>
  </section>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

